MatchXMLParser/bin/Debug/MatchXMLParser.exe.config
MatchXMLParser/bin/Debug/EntityFramework.xml
MatchXMLParser/bin/Debug/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/tools/install.ps1
packages/EntityFramework.6.2.0/tools/init.ps1
packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/content/net40/Web.config.transform
packages/EntityFramework.6.2.0/content/net40/App.config.transform
packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
packages/EntityFramework.6.1.3.deleteme
MatchXMLParser/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MatchXMLParser/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MatchXMLParser/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MatchXMLParser/obj/Debug/MatchXMLParser.csproj.FileListAbsolute.txt
MatchXMLParser/obj/Debug/MatchXMLParser.Migrations.Initial.resources
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
MatchXMLParser/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
packages/EntityFramework.6.2.0/tools/migrate.exe
MatchXMLParser/obj/Release/CoreCompileInputs.cache
MatchXMLParser/obj/Debug/MatchXMLParser.pdb
MatchXMLParser/obj/Debug/MatchXMLParser.exe
MatchXMLParser/obj/Debug/MatchXMLParser.csprojResolveAssemblyReference.cache
MatchXMLParser/obj/Debug/MatchXMLParser.csproj.GenerateResource.Cache
MatchXMLParser/obj/Debug/MatchXMLParser.csproj.CoreCompileInputs.cache
MatchXMLParser/obj/Debug/MatchXMLParser.csproj.CopyComplete
MatchXMLParser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MatchXMLParser/obj/Debug/CoreCompileInputs.cache
MatchXMLParser/bin/Debug/MatchXMLParser.pdb
MatchXMLParser/bin/Debug/MatchXMLParser.exe
MatchXMLParser/bin/Debug/EntityFramework.dll
MatchXMLParser/bin/Debug/EntityFramework.SqlServer.dll
.vs/MatchXMLParser/v15/Server/sqlite3/storage.ide-wal
.vs/MatchXMLParser/v15/Server/sqlite3/storage.ide-shm
.vs/MatchXMLParser/v15/Server/sqlite3/storage.ide
.vs/MatchXMLParser/v15/Server/sqlite3/db.lock
